logging:
  level:
    root: INFO

server:
  port: 5000
  servlet:
    encoding:
      charset: UTF-8

spring:
  datasource:
    url: jdbc:mariadb://${rds.hostname}:${rds.port}/${rds.db.name}
    driver-class-name: org.mariadb.jdbc.Driver
    username: ${rds.username}
    password: ${rds.password}
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
  redis:
    port: 6379
    host: localhost

  profiles:
    include:
      - prodJwt
      - prodOauth
