<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>

    <!-- 부트스트랩 CSS 링크 추가 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <style>
        td a {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header class="admin-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
            <a class="navbar-brand font-weight-bold" href="#">관리자 페이지</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">홈 <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/api/logout">로그아웃</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container mt-5">
        <div class="row">
            <!-- 퀴즈 등록 폼 -->
            <div class="col-md-4" id="inputForm">
                <h3 class="mb-3 font-weight-bold">퀴즈 등록</h3>
                <div class="form-group">
                    <label for="question">질문</label>
                    <textarea class="form-control" id="question" name="question" rows="5" required></textarea>
                </div>
                <div class="form-group">
                    <label for="answer">정답</label>
                    <input type="text" class="form-control" id="answer" name="answer" required>
                </div>
                <div class="form-group">
                    <label for="postDatetime">등록일</label>
                    <input type="datetime-local" class="form-control" id="postDatetime" name="postDatetime" required>
                </div>
                <button onclick="postQuiz()" class="btn btn-primary" id="postBtn">등록</button>
            </div>

            <div class="col-md-8">
                <h3 class="mb-3 font-weight-bold">퀴즈 정보</h3>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="col-sm-1 text-center">번호</th>
                        <th class="col-sm-6 text-center">질문</th>
                        <th class="col-sm-2 text-center">정답</th>
                        <th class="col-sm-4 text-center">퀴즈날짜</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 표 데이터를 동적으로 추가할 부분 -->
                    <tr th:each="quiz : ${quizzes}">
                        <td th:id="${quiz.id}" class="text-center" th:text="${quiz.id}">1</td>
                        <td><a th:onclick="addButton(this.getAttribute('quizId'))" th:text="${quiz.question}" th:quizId="${quiz.id}" th:id="'question'+${quiz.id}"></a></td>
                        <td th:text="${quiz.answer}" th:id="'answer'+${quiz.id}">25</td>
                        <td class="text-center" th:text="${quiz.postDate}" th:id="'postDate'+${quiz.id}">2022-01-01</td>
                    </tr>
                    </tbody>
                    <!-- 페이징 정보를 표시하는 부분 -->
                </table>
                <nav aria-label="페이징">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${paging.previousPage? '':'disabled'}">
                            <a class="page-link" th:href="@{/admin/{page}(page=${paging.startPage - 1})}" tabindex="-1" aria-disabled="true">이전</a>
                        </li>
                        <li th:each="num : ${#numbers.sequence(paging.startPage, paging.endPage)}" class="page-item" th:classappend="${num==paging.currentPage ? 'active' : '' }">
                            <a class="page-link" th:href="@{/admin/{page}(page=${paging.currentPage})}">1</a>
                        </li>
                        <li class="page-item" th:classappend="${paging.nextPage? '':'disabled'}">
                            <a class="page-link" th:href="@{/admin/{page}(page=${paging.endPage + 1})}">다음</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/admin.js"></script>
</html>