<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>오늘의 퀴즈</title>
    <!-- 부트스트랩 CSS 링크 추가 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- 원하는 한국어 폰트의 CSS 링크를 추가하세요 -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <!-- font-awesome CSS 파일 로드 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="data:,">
</head>
<body>
    <!-- 부트스트랩 클래스 적용 -->
    <div class="container">
        <h1 id="quiz-title">오늘의 퀴즈 Ver.2</h1>
        <a href="/login" class="logout-button" th:if="${userInfo==null}">
            <i class="fa-solid fa-arrow-right-to-bracket fa-lg"></i></i>로그인
        </a>

        <button onclick="window.location.href='/admin/1'" id="admin-page-button" th:if="${userInfo != null && userInfo.role.key=='ROLE_ADMIN'}">
            관리자페이지
        </button>

        <button onclick="logout()" class="logout-button" th:if="${userInfo != null}">
            <i class="fas fa-sign-out-alt fa-lg"></i> 로그아웃
        </button>

        <div class="image-container">
            <img src="https://cdn.pixabay.com/photo/2012/04/11/16/17/thinker-28741_960_720.png" alt="이미지 예제"> <!-- 이미지 파일 경로 지정 -->
        </div>

        <div class="text-center justify-content-center align-items-center">
            <!-- 현재 시간을 표시하는 요소 -->
            <h1 id="remainingTime" class="display-4 font-weight-bold"></h1>
            <h5 th:if="${todayQuiz.isPost == true}" th:text="${todayQuiz.question}" class="display-4 font-weight-bold" style="color: forestgreen">질문</h5>
            <div class="d-flex justify-content-center align-items-center mt-3 flex-column">
                <!-- 텍스트 입력 창 -->
                <input id="text-input" class="justify-content-center ml-3 form-control" type="text" disabled
                       onkeydown="handleKeyPress(event)" required>
                <div id="error-message" class="invalid-feedback font-weight-bold">정답을 입력해주세요!!</div>
                <!-- 전송 버튼 -->
                <button id="send-button" class="mr-2" onclick="sendData()" disabled>정답제출</button>
                <div id="quizTime" th:data-mydata="${todayQuiz!=null ? todayQuiz.postDate : 'nothing'}"></div>
            </div>
        </div>
    </div>
</body>
<script src="/js/index.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</html>