<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 및 회원가입</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<div class="wrapper">
    <div class="container">
        <div class="sign-up-container">
            <form>
                <h1>SIGNUP</h1>
                <span>or use your email for registration</span>
                <label for="signUp_email">
                    <input type="text" placeholder="아이디" id="signUp_email" name="email" required>
                </label>
                <div id="error-email" class="text-danger font-weight-bold" style="display: none">중복된 아이디입니다.</div>
                <div id="good-email" class="text-success font-weight-bold" style="display: none">사용가능한 아이디입니다.</div>
                <label for="signUp_password">
                    <input type="password" placeholder="비밀번호" id="signUp_password" name="password" required>
                </label>
                <label for="signUp_nickname">
                    <input type="text" placeholder="닉네임" id="signUp_nickname" name="nickname" required>
                </label>
                <div id="error-nickname" class="text-danger font-weight-bold" style="display: none">중복된 닉네임입니다.</div>
                <div id="good-nickname" class="text-success font-weight-bold" style="display: none">사용가능한 닉네임입니다.</div>
                <button type="button" class="form_btn" onclick="signUp()">Sign Up</button>
            </form>

        </div>
        <div class="sign-in-container">
            <form>
                <h1>LOGIN</h1>
                <div class="social-links">
                    <div>
                        <a href="/oauth2/authorization/google"><i class="fa fa-google" aria-hidden="true"></i></a>
                    </div>
                </div>
                <span>or use your account</span>
                <label for="email">
                    <input type="text" placeholder="아이디" id="email" name="email">
                </label>
                <label for="password">
                    <input type="password" placeholder="비밀번호" id="password" name="password">
                </label>
                <button type="button" onclick="login()" class="form_btn">Login</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay-left">
                <h1>안녕하세요</h1>
                <p>로그인이 필요하시면 아래의 로그인 버튼을 눌려주세요</p>
                <button id="signIn" class="overlay_btn">Login</button>
            </div>
            <div class="overlay-right">
                <h1>안녕하세요!!</h1>
                <p>회원가입이 필요하시면 아래의 회원가입 버튼을 눌러주세요</p>
                <button id="signUp" class="overlay_btn">SignUp</button>
            </div>
        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/js/login.js"></script>
<script src="/js/signUp.js"></script>
</body>
</html>